<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="scan_topic"  default="/scan"/>
  <arg name="odom_topic"  default="/odom"/>
  <arg name="odom_frame"  default="odom"/>
  <arg name="base_frame"  default="base_link"/>
  <arg name="map_frame"   default="map"/>

  <arg name="key"         default="false"/>
  <arg name="joy"         default="false"/>
  <arg name="joy_dev"     default="/dev/input/js0"/>

  <arg name="rosbag"           default="false"/>
  <arg name="rosbag_rate"      default="1.0"/>
  <arg name="rosbag_topics"    default=""/>
  <arg name="rosbag_filename"  default=""/>

  <arg name="rviz_config" default="$(find raspicat_slam)/config/rviz/slam_config.rviz"/>

  <group unless="$(arg rosbag)">
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" 
      clear_params="true" required="true" output="screen">
      <rosparam command="load" file="$(find raspicat_slam)/config/param/gmapping.yaml"/>
      <remap from="scan"       to="$(arg scan_topic)"/>
      <remap from="odom"       to="$(arg odom_topic)"/>
      <param name="odom_frame" value="$(arg odom_frame)"/>
      <param name="base_frame" value="$(arg base_frame)"/>
      <param name="map_frame"  value="$(arg map_frame)"/>
    </node>

    <!-- Teleop -->
    <group if="$(arg key)">
      <include file="$(find raspicat_bringup)/launch/teleop.launch"/>
    </group>
    
    <group if="$(arg joy)">
      <include file="$(find raspicat_bringup)/launch/teleop.launch">
        <arg name="joy"     value="$(arg joy)"/>
        <arg name="joy_dev" value="$(arg joy_dev)"/>
      </include>
    </group>
  </group>

  <group if="$(arg rosbag)">
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" 
      clear_params="true" required="true" output="screen">
      <rosparam command="load" file="$(find raspicat_slam)/config/param/gmapping.yaml"/>
      <remap from="scan"       to="$(arg scan_topic)"/>
      <remap from="odom"       to="$(arg odom_topic)"/>
      <param name="odom_frame" value="$(arg odom_frame)"/>
      <param name="base_frame" value="$(arg base_frame)"/>
      <param name="map_frame"  value="$(arg map_frame)"/>
    </node>

    <!-- Rosbag play -->
    <include file="$(find raspicat_slam)/launch/rosbag_play.launch">
      <arg name="rate"          value="$(arg rosbag_rate)"/>
      <arg name="topics"        value="$(arg rosbag_topics)"/>
      <arg name="bag_filename"  value="$(arg rosbag_filename)"/>
    </include>
  </group>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)"/>
</launch>