<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="key"         default="false"/>
  <arg name="joy"         default="false"/>
  <arg name="joy_dev"     default="/dev/input/js0"/>

  <arg name="rosbag"           default="false"/>
  <arg name="rosbag_rate"      default="1.0"/>
  <arg name="rosbag_topics"    default=""/>
  <arg name="rosbag_filename"  default=""/>

  <arg name="configuration_basename" default="raspicat_backpack_2d.lua"/>
  <arg name="rviz_config" default="$(find raspicat_slam)/config/rviz/slam_config.rviz"/>

  <group unless="$(arg rosbag)">
    <!-- Cartographer_node -->
    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
          args="-configuration_directory $(find raspicat_slam)/config/param
                -configuration_basename $(arg configuration_basename)"
          output="screen">
    </node>

    <!-- Cartographer occupancy grid node -->
    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node"/>

    <!-- Teleop -->
    <group if="$(arg key)">
      <include file="$(find raspicat_bringup)/launch/teleop.launch"/>
    </group>
    
    <group if="$(arg joy)">
      <include file="$(find raspicat_bringup)/launch/teleop.launch">
        <arg name="joy"     value="$(arg joy)"/>
        <arg name="joy_dev" value="$(arg joy_dev)"/>
      </include>
    </group>
  </group>

  <group if="$(arg rosbag)">
    <!-- Cartographer_node -->
    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
          args="-configuration_directory $(find raspicat_slam)/config/param
                -configuration_basename $(arg configuration_basename)"
          output="screen">
    </node>

    <!-- Cartographer occupancy grid node -->
    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node"/>

    <!-- Rosbag play -->
    <include file="$(find raspicat_slam)/launch/rosbag_play.launch">
      <arg name="rate"          value="$(arg rosbag_rate)"/>
      <arg name="topics"        value="$(arg rosbag_topics)"/>
      <arg name="bag_filename"  value="$(arg rosbag_filename)"/>
    </include>
  </group>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)"/>
</launch>