<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="rate"          default="1.0"/>
  <arg name="topics"        default=""/>
  <arg name="bag_filename"  default=""/>

  <arg name="model" default="$(find raspicat_description)/robots/raspicat.urdf.xacro"/>

  <!-- Parameters -->
  <param name="/use_sim_time" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Rosbag play -->
  <group if="$(eval topics=='')">
  <node name="playbag" pkg="rosbag" type="play" 
        args="$(arg bag_filename) --clock -r $(arg rate)"/>
  </group>

  <group unless="$(eval topics=='')">
    <node name="playbag" pkg="rosbag" type="play" 
          args="$(arg bag_filename) --clock --topics $(arg topics) -r $(arg rate)"/>
  </group>
</launch>