<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="linear_vel"                default="0.5"/>
  <arg name="linear_acc"                default="0.3"/>
  <arg name="angular_vel"               default="0.5"/>
  <arg name="angular_acc"               default="0.3"/>

  <arg name="use_safety_limiter"        default="false"/><!-- Operation not confirmed -->
  <arg name="use_path_with_velocity"    default="true"/>
  <arg name="use_independent_local_map" default="true"/>

  <arg name="global_frame"              default="map"/>
  <arg name="base_frame"                default="base_footprint"/>
  <arg name="odom_frame"                default="odom"/>
  <arg name="cmd_vel_in"                default="/cmd_vel_in"/>
  <arg name="cmd_vel_output"            default="/cmd_vel"/>
  <arg name="map_topic"                 default="/navigation_map"/>
  <arg name="output_info"               default="screen"/>

  <!-- Neonavigation -->
  <rosparam command="load" file="$(find raspicat_navigation)/config/param/navigate.yaml"/>

  <node pkg="planner_cspace" type="planner_3d" name="planner_3d" clear_params="true" output="$(arg output_info)">
    <param name="use_path_with_velocity" value="$(arg use_path_with_velocity)"/>
    <param name="map_frame"              value="$(arg global_frame)"/>
    <param name="global_frame"           value="$(arg global_frame)"/>
    <param name="robot_frame"            value="$(arg base_frame)"/>
    <param name="jump_detect_frame"      value="$(arg base_frame)"/>
  </node>

  <node pkg="planner_cspace" type="patrol" name="patrol"/>

  <node pkg="costmap_cspace" type="costmap_3d" name="costmap_3d" clear_params="true" output="$(arg output_info)">
    <remap from="map"       to="$(arg map_topic)"/>
  </node>

  <node pkg="costmap_cspace" type="largemap_to_map" name="largemap_to_map" 
    output="$(arg output_info)" if="$(arg use_independent_local_map)">
    <remap from="map_local" to="overlay1"/>
  </node>

  <node pkg="trajectory_tracker" type="trajectory_tracker" name="trajectory_tracker" 
        clear_params="true" output="$(arg output_info)">
    <param name="frame_robot"   value="$(arg base_frame)"/>
    <param name="frame_odom"    value="$(arg odom_frame)"/>
    <param name="max_vel"       value="$(arg linear_vel)"/>
    <param name="max_acc"       value="$(arg linear_acc)"/>
    <param name="max_angvel"    value="$(arg angular_vel)"/>
    <param name="max_angacc"    value="$(arg angular_acc)"/>
    <remap from="cmd_vel"       to="$(arg cmd_vel_in)"     if="$(arg use_safety_limiter)"/>
    <remap from="cmd_vel"       to="$(arg cmd_vel_output)" unless="$(arg use_safety_limiter)"/>
  </node>

  <node pkg="safety_limiter" type="safety_limiter" name="safety_limiter" 
        clear_params="true" output="screen" if="$(arg use_safety_limiter)">
    <remap from="cmd_vel_in"    to="$(arg cmd_vel_in)"/>
    <remap from="cmd_vel"       to="$(arg cmd_vel_output)"/>
    <param name="fixed_frame"   value="$(arg odom_frame)"/>
    <param name="base_frame"    value="$(arg base_frame)"/>
  </node>
</launch>