<launch>
  <arg name="scan_topic" default="/scan" />
  <arg name="odom_topic" default="/odom" />

  <arg name="rvizconfig" default="$(find raspimouse_slam)/launch/config/slam_config.rviz"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)"/>

  <node pkg="tf" type="static_transform_publisher" name="raspicat_lrf_tf_broadcaster" args="0.144 0.0 0.04 0 0 0 /base_link /urg_lrf_link 100"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="10.0"/>

    <param name="srr" value="0.03"/>
    <param name="srt" value="0.04"/>
    <param name="str" value="0.05"/>
    <param name="stt" value="0.05"/>

    <param name="particles" value="120"/>
    <param name="iterations" value="5"/>

    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="temporalUpdate" value="0.5"/>
  </node>
</launch>

